{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Python
            </li>
            <li class="list-group-item">Django</li>
            <li class="list-group-item">HTML5</li>
            <li class="list-group-item">CSS</li>
        </ul>
    </aside>
    <article class="col-12 col-md-9">
    <p>Django (Джанго, ['dʒæŋɡoʊ]) — свободный фреймворк для веб-приложений на языке Python,
        использующий шаблон проектирования MVC. Проект поддерживается организацией Django Software Foundation.
        Сайт на Django строится из одного или нескольких приложений, которые рекомендуется делать отчуждаемыми и подключаемыми.
        Это одно из существенных архитектурных отличий этого фреймворка от некоторых других (например, Ruby on Rails).
        Один из основных принципов фреймворка — DRY (англ. Don't repeat yourself)</p><br>
    </article>
</div>
{% endblock %}